.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfafa;
  border-bottom: 1px solid #ffffff;
}

.navbar__logo img {
  width: 10rem;
  height: 3rem;
}

.navbar__links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.navbar__settings {
  font-size: 16px;
}
